@charset "utf-8";

/* CSS Document */

/*------------------------

背景

------------------------*/

html {
	overflow: -moz-scrollbars-vertical;
}

body {
	background-color: #ffe900;
	word-wrap: break-word;
	background-image: url(../img/img_gunta_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.wrap {
	width: 94%;
	max-width: 980px;
	margin: auto;
}

.contents-wrap {
	width: 94%;
	max-width: 465px;
	margin: auto;
}

@media only screen and (max-width: 667px) {

body {
	background-image: none;
	background-color: #ffe900;
}

.wrap {
	max-width: 300px;
}

.units-row {
	margin-bottom: 1.65em;
}

.contents-wrap {
	max-width: 220px;
	margin: auto;
}
}

#nav-global-container ul {
	margin: 0;
}

#nav-global-container #nav-global-close {
	margin-bottom: 0;
}

#nav-global ul li {
	text-align: center;
}

/*------------------------

SNSボタン

------------------------*/
@media only screen and (max-width: 1023px) {

header .units-row .unit-50 {
	width: 48.5%;
}

header .units-row .unit-push-50 {
	left: 51.5%;
}
}

@media only screen and (max-width: 667px) {

header .units-row .unit-50 {
	width: 100%;
}

header .units-row .unit-push-50 {
	left: 0;
}

.navbar,
header .units-row .unit-50 {
	margin-bottom: 0;
}
}

.sns-btn ul {
	padding-top: 30px;
	font-size: 0;
}

.sns-btn li {
	margin-left: 10px;
	float: left;
}

@media only screen and (max-width: 1023px) {

header .units-row .unit-50 {
	padding-left: 0;
}

.sns-btn ul {
	padding-top: 10px;
	width: 220px;
	margin: auto;
	overflow: hidden;
}

.sns-btn li {
	margin-left: 20px;
}

.navbar.navbar-right.sns-btn li:nth-child(1) {
	margin-left: 0;
}

.navbar.navbar-right.sns-btn li:nth-child(2) {
	width: 75px;
}
}

/*------------------------

キャンペーン

------------------------*/

.campaign #content #content-inner {
	padding-bottom: 70px;
}

/*** del 2016/07/11 ***/
/*
.campaign .main {
	margin-bottom: 5em;
}
*/
@media only screen and (max-width: 767px) {

.campaign .main {
/*	margin-bottom: 1.65em; */
	margin-bottom: .65em;
}
}

.campaign .box01 {
	margin-bottom: 5em;
}

.campaign .box01 .step02 {
	position: relative;
}

.campaign .box01 .step02 .btn01 {
	position: absolute;
	top: 160px;
	left: 83px;
}

.campaign .box01 .step02 .btn02 {
	position: absolute;
	top: 230px;
	left: 83px;
}

.campaign .box01 .step02 .btn03 {
	position: absolute;
	top: 260px;
	left: 83px;
}

.campaign .box01 .step02 .btn04 {
	position: absolute;
	top: 330px;
	left: 83px;
}

@media only screen and (max-width: 667px) {

.campaign .box01 .step02 .btn01 {
	position: absolute;
	width: 130px;
	top: 80px;
	left: 30px;
}

.campaign .box01 .step02 .btn02 {
	position: absolute;
	width: 100px;
	top: 110px;
	left: 30px;
}

.campaign .box01 .step02 .btn03 {
	position: absolute;
	width: 130px;
	top: 125px;
	left: 30px;
}

.campaign .box01 .step02 .btn04 {
	position: absolute;
	width: 100px;
	top: 155px;
	left: 30px;
}
}

.campaign .box02 {
	margin-bottom: 5em;
}

.snsInfo {
	margin-bottom: 6em;
}

.snsInfo .title img {
	display: block;
	margin: 0 auto 1.3em;
}

.snsInfo .wrap {
	width: 375px;
}

@media only screen and (max-width: 667px) {

.snsInfo {
	margin-bottom: 0;
}

.snsInfo .wrap {
	width: 220px;
}
}

.snsInfo a {
	text-align: center;
	display: block;
}

.snsInfo img {
	display: block;
	margin: 0 auto;
}

@media only screen and (max-width: 667px) {

.snsInfo .units-mobile-50 img {
	width: 55px;
}
}

.rule {
	background-color: #fff;
	padding: 2em 3em;
	margin-bottom: 5em;
}

@media only screen and (max-width: 667px) {

.rule {
	font-size: 1.2rem;
	padding: 1em 1.5em;
}
}

.rule p {
	margin-bottom: 1.3em;
}

.rule ul {
	list-style: disc;
	margin-left: 1em;
}

.rule ul li {
	position: relative;
	list-style: none;
}

.rule ul li.bold {
	font-weight: bold;
}

.rule ul li::after {
	display: block;
	content: '';
	position: absolute;
	top: .5em;
	left: -1em;
	width: 6px;
	height: 6px;
	background-color: #000;
	border-radius: 100%;
}

/*------------------------

テーブル

------------------------*/

table td {
	word-break: break-all;
}

@media (max-width: 667px) {

th,
 td {
	width: 100%;
	display: block;
}

th {
	width: 100%;
	display: block;
	background-color: #eee;
}

table .width-90,
 table .width-80,
 table .width-75,
 table .width-70,
 table .width-66,
 table .width-65,
 table .width-60,
 table .width-50,
 table .width-40,
 table .width-35,
 table .width-33,
 table .width-30,
 table .width-25,
 table .width-20,
 table .width-10 {
	width: 100%;
}
}

/*------------------------

フォーム

------------------------*/

input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='phone'],
input[type='tel'],
input[type='number'],
input[type='datetime'],
input[type='date'],
input[type='month'],
input[type='color'],
input[type='time'],
input[type='search'],
input[type='datetime-local'] {
	min-height: 30px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
}

.form {
	width: 100%;
	background-color: #fff;
	margin-bottom: 3em;
	table-layout: fixed;	/*IEバグ対策 */
}

@media only screen and (max-width: 667px) {

.form {
	margin-bottom: 1.65em;
}
}

.form th,
.form td {
	padding: 1em;
	border: 1px solid #eee;
	text-align: left;
	word-wrap: break-word;
}

.form th {
	width: 150px;
	background-color: #f7f7f7;
}

.form th.red {
	background-color: #ffe1e4;
	color: #000;
}

.form td.red {
	background-color: #FFF4F5;
}

@media (max-width: 667px) {

.form th,
 .form td {
	width: 100%;
	display: block;
	margin-top: -1px;
}

.form td .width-50 {
	width: 50%;
}
}

.form ul {
	margin: 0;
}

.form .list-flat li {
	margin: 0 0 1em;
}

.form .list-flat li:last-child {
	margin: 0;
}

.btn-area {
	margin: 0 auto;
	text-align: center;
}

@media only screen and (max-width: 667px) {

.btn-area .btn {
	width: 100%;
	display: block;
	margin-bottom: 1em;
}
}

label,
select {
	cursor: pointer;
}

input[type='submit'],
input[type='reset'],
input[type='button'] {
	-webkit-appearance: button;
}

/*------------------------

リスト

------------------------*/

.list-flat {
	margin-bottom: 0;
}

.list-flat li {
	margin-bottom: 1em;
}

.list-flat li:last-child {
	margin-bottom: 0;
}

.list-left li {
	margin-right: 1em;
	float: left;
}

.list-left li:last-child {
	margin-right: 0;
}

.link {
	margin: 0;
}

.link li {
	list-style: none;
	line-height: 1.35;
}

.link li a {
	margin-left: 1em;
	display: block;
	text-decoration: none;
	text-indent: -1em;
}

.link li a:before {
	margin-right: .5em;
	content: '\f0da';
	color: #e60013;
	font: normal normal normal 14px/1 FontAwesome;
}

@media only screen and (max-width: 667px) {

.link li {
	margin-bottom: 1.65em;
	float: none;
}

.link li a {
	display: block;
}
}

.list-center {
	display: inline-block;
}

.list-before li {
	padding-left: 1em;
	display: block;
}

.list-before li:before {
	width: 1em;
	margin-left: -1em;
	padding: .5em 0;
	display: block;
	float: left;
	content: '';
	color: #007f2d;
	font-family: 'FontAwesome';
	text-align: center;
}

.list-before li.second:before {
	width: 1em;
	margin-left: 0;
	padding: .5em 0;
	display: block;
	float: left;
	content: '';
	color: #007f2d;
	font-family: 'FontAwesome';
	text-align: center;
}

.list-after li {
	padding-right: 15px;
	position: relative;
}

.list-after li:after {
	margin-top: -12px;
	position: absolute;
	top: 50%;
	right: 10px;
	content: '';
	color: #007f2d;
	font-family: 'FontAwesome';
}

.list-centered {
	text-align: center;
}

.list-centered ul {
	display: inline-block;
}

/*------------------------

画像

------------------------*/

@media only screen and (min-width: 1023px) {

.hover a:hover img {
	opacity: .6;
	filter: alpha(opacity=60);
	-moz-opacity: .6;
}
}

img.left {
	margin-right: 1em;
}

img.right {
	margin-left: 1em;
}

@media only screen and (min-width: 660px) {

img {
	max-width: 100%;
}
}

/*------------------------

レイアウト

------------------------*/

.img-centered img {
	margin: 0 auto;
	display: block;
}

.btn-centered {
	text-align: center;
}

/*------------------------

Typography

------------------------*/

i {
	margin: 0 .5em;
	color: #e60013;
}

em,
i {
	font-style: normal;
}

.red {
	color: #CA1B28;
}

/*------------------------

フォントサイズ

------------------------*/

html {
	font-size: 62.5%;
}

body {
	color: #313131;
	font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	font-size: 1.4rem;
	line-height: 18px;
}

@media only screen and (max-width: 667px) {

body {
	font-size: 1.6rem;
}
}

.font06 {
	font-size: .6rem;
}

.font07 {
	font-size: .7rem;
}

.font08 {
	font-size: .8rem;
}

.font09 {
	font-size: .9rem;
}

.font10 {
	font-size: 1.0rem;
}

.font11 {
	font-size: 1.1rem;
}

.font12 {
	font-size: 1.2rem;
}

.font13 {
	font-size: 1.3rem;
}

.font14 {
	font-size: 1.4rem;
}

.font15 {
	font-size: 1.5rem;
}

.font16 {
	font-size: 1.6rem;
}

.font17 {
	font-size: 1.7rem;
}

.font18 {
	font-size: 1.8rem;
}

.font19 {
	font-size: 1.9rem;
}

.font20 {
	font-size: 2.0rem;
}

.font21 {
	font-size: 2.1rem;
}

.font22 {
	font-size: 2.2rem;
}

.font23 {
	font-size: 2.3rem;
}

.font24 {
	font-size: 2.4rem;
}

.font25 {
	font-size: 2.5rem;
}

.font26 {
	font-size: 2.6rem;
}

.font27 {
	font-size: 2.7rem;
}

.font28 {
	font-size: 2.8rem;
}

.font29 {
	font-size: 2.9rem;
}

.font30 {
	font-size: 3.0rem;
}

.font31 {
	font-size: 3.1rem;
}

.font32 {
	font-size: 3.2rem;
}

/*------------------------

余白

------------------------*/

.mt05 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.mt70 {
	margin-top: 70px;
}

.mt100 {
	margin-top: 100px;
}

.mt_20 {
	margin-top: -20px;
}

.mtb05 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mtb10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mtb15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.mtb20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mtb30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mb05 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.ml05 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.ml30 {
	margin-left: 30px;
}

.mr05 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.pt40 {
	padding-top: 40px;
}

/*------------------------

表示・非表示

------------------------*/

br.sp_only {
	display: none;
}

@media only screen and (max-width: 1023px) {

br {
	display: none;
}

br.both {
	display: block;
}

br.sp_only {
	display: block;
}
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible-phone {
	display: none !important;
}

.visible-tablet {
	display: none !important;
}

.hidden-desktop {
	display: none !important;
}

.visible-desktop {
	display: inline-block !important;
}

@media (min-width: 660px) and (max-width: 979px) {

.hidden-desktop {
	display: inherit !important;
}

.visible-desktop {
	display: none !important;
}

.visible-tablet {
	display: inherit !important;
}

.hidden-tablet {
	display: none !important;
}
}

@media (max-width: 667px) {

.hidden-desktop {
	display: inherit !important;
}

.visible-desktop {
	display: none !important;
}

.visible-phone {
	display: inherit !important;
}

.hidden-phone {
	display: none !important;
}
}

/*------------------------

clearfix

------------------------*/

.clearfix:before,
 .clearfix:after {
	height: 0;
	display: block;
	overflow: hidden;
	content: '.';
}

.clearfix:after {
	clear: both;
}
